streamlit
pandas
openpyxl
matplotlib
folium
streamlit-folium
shapely
plotly
geopy

requests
numpy
seaborn
scikit-learn
python-dotenv
arcgis

folium==0.18.0
streamlit==1.40.1
pydeck==0.9.1

